/* General styles */
.personal-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-container {
  display: flex;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #272737;
  margin-top: 20px;
  padding: 0 20px;
  width: 1000px;
  color: white;
}

.heading-container .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6366f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer; /* Makes avatar clickable */
  transition: opacity 0.3s ease;
}

.personal-dashboard-container .user-avatar:hover {
  opacity: 0.7; /* Adds slight effect on hover */
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Hide the file input */
.hidden-file-input {
  display: none;
}

/* Style the label to ensure it's clickable */
.avatar-upload-label {
  display: inline-block;
  cursor: pointer;
}

.user-name-avatar-container {
  width: 100%;
}

.personal-dashboard-container .user-name-container {
  margin-left: 5px;
}

.user-info-container {
  position: relative; /* Ensures child elements are positioned correctly */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #272737;
}

.user-info-container .user-joined {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
  color: #666; /* Optional: Adjust color */
}
.user-info-container .user-problems-completed {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 14px;
  color: #666; /* Optional: Adjust color */
}

.delete-account {
  position: absolute;
  bottom: 35px;
  right: 10px;
  padding: 10px 20px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.problems-container {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: right;
  padding: 0 20px;
  width: 1000px;
  background-color: #272737;
  color: white;
}

.problems-header {
  display: flex;

  margin-top: 20px;
  height: fit-content;
}

.problems-title {
  font-size: large;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.open-popup-btn {
  margin-left: auto;
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.open-popup-btn:hover {
  background-color: #218838;
}

.open-popup-btn:hover {
  background-color: #218838;
}

/* Table styles */

.personal-dashboard-container .problem-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personal-dashboard-container .problem-table th,
.personal-dashboard-container .problem-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.personal-dashboard-container .problem-table th {
  background-color: #3f3e4d;
  font-weight: bold;
}

.personal-dashboard-container .problem-table tr {
  background-color: #575664;
}

.personal-dashboard-container .problem-table tr:hover {
  background-color: #71707c;
}

.personal-dashboard-container .problem-table tr.table-title:hover {
  background-color: #575664;
  cursor: default;
}

.delete-btn {
  padding: 5px 20px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #8b0000;
}
