.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  background: #272737;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form-group input {
  width: 94%; /* Change later */
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
}

/* Style for the password input container */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Ensure input takes full width */
.password-container input {
  width: 100%;
  padding-right: 50px; /* Space for the toggle button */
}

/* Toggle Button for Show/Hide Password */
.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: grey;
}

.toggle-password:hover {
  text-decoration: underline;
}

.login-submit {
  padding: 5px;
  margin-top: 10px;
  width: 75px;
  font-size: 14px;
}
