/* General styles */
.public-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public-dashboard-container .problems-container {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 0 20px;
  width: 1000px;
}

.public-dashboard-container .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6366f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.public-dashboard-container .user-name-container {
  margin-left: 5px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  position: relative;
}

.popup-form h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form-group input {
  width: 94%; /* Change later */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.delete-user-btn {
  padding: 10px 20px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.delete-user-btn:hover {
  background-color: #8b0000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

/* Popup styles remain the same */

/* Table styles */
.problem-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.problem-table th,
.problem-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.problem-table th {
  background-color: #3f3e4d;
  font-weight: bold;
}

.problem-table tr {
  background-color: #575664;
}

.problem-table tr:hover {
  background-color: #71707c;
}

/* Prevent hover effect for table-title rows */
.problem-table tr.table-title:hover {
  background-color: #575664;
  cursor: default;
}
