/* Base font styles */
body {
  font-family: "Inter", sans-serif; /* Default font for your app */
  line-height: 1.6; /* Improves readability */
  color: whitesmoke; /* Default text color */
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #121122;
}
